# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist

# VSCode
.vscode
# !/.vscode
# !/.vscode/extensions.json
# !/.vscode/settings.json

# storybook
*storybook.log

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.log
