*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: lightgray;
  font-size: 1.7vh;
  line-height: 1;
}

body {
  margin: 0;
  user-select: none;
  color: #fcfafb;

  font-family: 'IndieFlower', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: '3Dumb', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: 'AmaticBold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em;
  margin: 0 auto;
  padding: 0;
}

@font-face {
  font-family: '3Dumb';
  src: url('./fonts/3Dumb.ttf');
}

@font-face {
  font-family: 'IndieFlower';
  src: url('./fonts/IndieFLower.ttf');
}

@font-face {
  font-family: 'Amatic';
  src: url('./fonts/AmaticSC-Regular.ttf');
}

@font-face {
  font-family: 'AmaticBold';
  src: url('./fonts/Amatic-Bold.ttf');
}
