*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 1.7vh;
  line-height: 1;
}

body {
  margin: 0;
  user-select: none;
  color: var(--color-primary);
  font-family: var(--font-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font-title);
  font-size: 5rem;
  margin-bottom: 2rem;
}

h2 {
  font-family: var(--font-heading);
  letter-spacing: var(--letter-spacing-heading);
  margin: 0 auto;
  padding: 0;
}

:root {
  --color-primary: #fcfafb;
  --color-bg: #080808;
  --color-bg-opacity: #08080869;
  --font-text: 'IndieFlower', sans-serif;
  --font-heading: 'AmaticBold', sans-serif;
  --letter-spacing-heading: 0.05em;
  --font-title: '3Dumb', sans-serif;
}

@font-face {
  font-family: '3Dumb';
  src: url('./fonts/3Dumb.ttf');
}

@font-face {
  font-family: 'IndieFlower';
  src: url('./fonts/IndieFLower.ttf');
}

@font-face {
  font-family: 'AmaticBold';
  src: url('./fonts/Amatic-Bold.ttf');
}
