.HealthBar {
  width: 30vh;
  height: 2vh;
  background-color: darkred;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.HealthBar-inner {
  width: 100%;
  height: 100%;
  background-color: red;
}

.HealthBar-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 1.5vh;
  text-align: center;
  line-height: 2vh;
  text-shadow: 1px 1px 1px gray;
}
